body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Previene eventuali scroll orizzontali */
}

.navbar {
    box-shadow: 0 0 5px 0 ;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    z-index: 100; 
    a{
        color: red;
    }
}

/*
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 1;  Assicurati che sia sopra l'immagine 
    pointer-events: none; /* L'overlay non interferisce con l'interazione 
  }*/

.hero{
    overflow: hidden; 
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Ombra morbida */
}

#hero-img{
    object-position: bottom;
    display: block;
}

.hero-section {
    padding: 20px 0;
    margin-top: 70px;
}

.vehicle-card {
    max-width: 1000px;
    padding: 0;
    margin: 0;
    border: 1px solid #ddd; /* Bordo sottile */
    border-radius: 10px; /* Angoli arrotondati */
    overflow: hidden; /* Taglia contenuti che eccedono i bordi */
    transition: transform 0.3s, box-shadow 0.3s; /* Effetto hover */
  }
  
  .card-body{
    height: 250px;
  }

  .vehicle-card:hover {
    transform: scale(1.03); /* Leggero ingrandimento */
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); /* Ombra più evidente */
  }
  
  .vehicle-card .card-img-top {
    border-bottom: 1px solid red; /*solo per testing*/
    max-height: 500px;
    max-width: 1000px; /* Altezza immagine */
    object-fit: cover; /* Adatta l'immagine senza distorcerla */
  }
  
  .vehicle-card .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(225, 10, 10);
  }
  
  .vehicle-card .btn-success {
    font-size: 1rem;
    font-weight: 600;
  }
  
  .vehicle-card .badge.bg-danger {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
  
  .container-inserisci{
    box-shadow: 0 0 5px 0 ;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin-top: 100px;
    margin-bottom: 30px;
  }

  .login-card{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin:50px auto 0 auto;
    width: 50vw;
    color: white;
  }

  .container-prenotazioni{
    margin-top: 100px;
    width: 50vw;
    color: white;
    .card-body{
      height: auto;
    }
  }

  footer{
    box-shadow: 0 0 5px 0 ;
    background-color: rgba(255, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 100vw;
    height: 70px;
    z-index: 100; 
  }

  @media screen and (max-width: 991px) {
    .login-card{
      width: 80vw;
      }
     .container-prenotazioni{
      width: 80vw;
     } 
  }