<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prova2</title>
</head>
<body>

    <!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prenotazione Veicolo</title>
</head>
<body>
    
    <h1>Effettua una Prenotazione</h1>

    <form id="formPrenotazione">
        <!-- Campo per ID Utente -->
        <label for="idUtente">ID Utente:</label>
        <input type="number" id="utente_id"  required><br><br>

        <!-- Campo per ID Veicolo -->
        <label for="idVeicolo">ID Veicolo:</label>
        <input type="number" id="veicolo_id"  required><br><br>

        <!-- Pulsante per inviare il modulo -->
        <button type="submit">Prenota</button>
    </form>
</body>
</html>






    <script src="/static/scripts/prova2.js"></script>
</body>
</html>